<%= render 'header' %>

<section class="banner">
  <div class="container">
    <h1>Experience travel from&nbsp;a&nbsp;local&nbsp;perspective!</h1>
    <div class="row">
      <div id="videobox">
        <video id="ls540091"
               class="sublime"
               poster="<%= asset_path 'home/poster@2x.jpg' %>"
               width="640"
               height="360"
               title="Live Seasonal"
               data-uid="ls540091"
               data-sharing-text="Live Seasonal is building a platform to connect Travelers and Locals to create a more authentic and real travel experience."
               data-sharing-twitter-text="#liveseasonal #discoveralifestyle #connectwithlocals. Excited for @liveseasonal new platform launch."
               data-sharing-image="poster"
               data-sharing-title="Live Seasonal" 
               data-autoresize="fit"
               preload="none">
          <source src="<%= asset_path 'videos/promo.mov' %>" data-quality="hd" />
        </video>
      </div>
    </div>
  </div>
</section>


<section class="signup">
  <div class="container">
    <div class="row signup-tagline">
      <div class="col-xs-10 col-xs-offset-1 col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2">
        <p>Connect with fantastic people, share skills and experiences and make life long friends!</p>
      </div>
    </div>
    <div class="row signup-action">
      <div class="col-xs-8 col-xs-offset-2 col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3">
        <%= form_for @user, url: { action: "create" }, html: { class: 'validate form-horizontal' } do |f| %>
          <div class="form-group">
              <div class="input-group input-group-lg">
                <div class="icon-addon addon-lg">
                  <%= f.text_field :email,
                    placeholder: "Enter your e-mail address",
                    class: "form-control email",
                    id: 'email',
                    type: 'email' %>
                  <label for="email" class="glyphicon glyphicon-envelope text-muted" rel="tooltip" title="email"></label>
                </div>
                <span class="input-group-btn">
                  <input class="submit btn btn-explore" name="commit" type="submit" value="EXPLORE" />
                </span>
              </div>
          </div>
        <% end %>
      </div>
    </div>
    <div class="row signup-nospam">
      <div class="col-xs-10 col-xs-offset-1 col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2">
        <div class="nospam">
          <em>We'll keep your e-mail safe. No spam, we promise!</em>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="features">
  <div class="container">
    <h2>We are building a platform that connects Travelers and Locals</h2>

    <div class="row">
      <div class="col-md-6 feature">
        <%= image_tag 'home/travelers.jpg' %>
        <h3 class="pacifico">Travelers</h3>
        <hr>
        <p>Meet locals</p>
        <p>Learn something</p>
        <p>Travel more affordably</p>
      </div>

      <div class="col-md-6 feature">
        <%= image_tag 'home/locals.jpg' %>
        <h3 class="pacifico">Locals</h3>
        <hr>
        <p>Meet and connect with travelers</p>
        <p>Share similar skills and passions</p>
        <p>Be an Entrepreneur and make money</p>
      </div>
    </div>
  </div>
</section>

<footer>
  <div class="copy">
    <p>Copyright © 2014 liveseasonal.com</p>
  </div>
</footer>
